body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:761px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:761px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1291px;
  top:571px;
  width:49px;
  height:99px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:99px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1270px;
  top:550px;
  width:70px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
