body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:475px;
  top:-21px;
  width:400px;
  height:713px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:713px;
}
#u1 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-23px;
  width:400px;
  height:700px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:700px;
}
#u3 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
