body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:761px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:761px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1291px;
  top:571px;
  width:49px;
  height:99px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:99px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1109px;
  top:123px;
  width:141px;
  height:132px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:132px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:83px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:83px;
}
#u6 {
  position:absolute;
  left:2px;
  top:34px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:132px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:12px;
  top:0px;
  width:75px;
  height:107px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:107px;
}
#u8 {
  position:absolute;
  left:2px;
  top:46px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:12px;
  top:0px;
  width:83px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:781px;
  top:132px;
  width:325px;
  height:123px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:123px;
}
#u11 {
  position:absolute;
  left:2px;
  top:54px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:781px;
  top:147px;
  width:308px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:90px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
