body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:890px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:890px;
}
#u2 {
  position:absolute;
  left:2px;
  top:437px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:32px;
  top:253px;
  width:395px;
  height:35px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:32px;
  top:313px;
  width:395px;
  height:35px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:21px;
  top:378px;
  width:459px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u8 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:124px;
  top:832px;
  width:122px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:246px;
  top:832px;
  width:122px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:368px;
  top:832px;
  width:132px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u13 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:246px;
  top:832px;
  width:122px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:368px;
  top:832px;
  width:132px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:0px;
  top:832px;
  width:126px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u18 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:124px;
  top:832px;
  width:122px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:368px;
  top:832px;
  width:132px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:0px;
  top:832px;
  width:126px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u23 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:124px;
  top:832px;
  width:122px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:246px;
  top:832px;
  width:122px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:0px;
  top:832px;
  width:126px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:7px;
  top:524px;
  width:487px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:889px;
}
#u29 {
  position:absolute;
  left:2px;
  top:436px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:8px;
  top:772px;
  width:484px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
