body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:600px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:940px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:1003px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:1003px;
}
#u3 {
  position:absolute;
  left:2px;
  top:494px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:206px;
  top:341px;
  width:200px;
  height:104px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:104px;
}
#u5 {
  position:absolute;
  left:2px;
  top:44px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:449px;
  width:200px;
  height:151px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:151px;
}
#u7 {
  position:absolute;
  left:2px;
  top:68px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:206px;
  top:223px;
  width:200px;
  height:112px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:112px;
}
#u9 {
  position:absolute;
  left:2px;
  top:48px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:206px;
  top:451px;
  width:200px;
  height:150px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:206px;
  top:100px;
  width:200px;
  height:116px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:116px;
}
#u13 {
  position:absolute;
  left:2px;
  top:50px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:344px;
  width:200px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:100px;
  width:203px;
  height:238px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:238px;
}
#u17 {
  position:absolute;
  left:2px;
  top:111px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:206px;
  top:605px;
  width:200px;
  height:204px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:204px;
}
#u19 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:606px;
  width:200px;
  height:150px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u21 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:761px;
  width:200px;
  height:174px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:174px;
}
#u23 {
  position:absolute;
  left:2px;
  top:79px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:206px;
  top:813px;
  width:200px;
  height:121px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:121px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:fixed;
  left:0px;
  top:0px;
  width:406px;
  height:100px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:52px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:154px;
  top:3px;
  width:99px;
  height:40px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:51px;
  width:406px;
  height:45px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:45px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:12px;
  top:61px;
  width:344px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
