body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:761px;
  opacity:0.200000002980232;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:761px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:161px;
  top:147px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:285px;
  top:147px;
  width:343px;
  height:96px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:96px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:613px;
  top:147px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:618px;
  top:167px;
  width:10px;
  height:247px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:230px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:247px;
}
#u9 {
  position:absolute;
  left:675px;
  top:340px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:801px;
  top:340px;
  width:336px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:100px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:613px;
  top:420px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:618px;
  top:444px;
  width:10px;
  height:247px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:230px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:247px;
}
#u16 {
  position:absolute;
  left:161px;
  top:530px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:271px;
  top:530px;
  width:357px;
  height:96px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:96px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:613px;
  top:702px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:618px;
  top:726px;
  width:10px;
  height:269px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:252px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:269px;
}
#u23 {
  position:absolute;
  left:675px;
  top:718px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:801px;
  top:718px;
  width:352px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:120px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:274px;
  top:1389px;
  width:708px;
  height:187px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:187px;
}
#u28 {
  position:absolute;
  left:30px;
  top:30px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:766px;
  top:1153px;
  width:14px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1199px;
  top:111px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1280px;
  top:1250px;
  width:49px;
  height:99px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:99px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:588px;
  top:1238px;
  width:69px;
  height:69px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u36 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:161px;
  top:902px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:287px;
  top:902px;
  width:277px;
  height:96px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:96px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1195px;
  top:115px;
  width:72px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:613px;
  top:1005px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:618px;
  top:1028px;
  width:10px;
  height:188px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:171px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:188px;
}
#u45 {
  position:absolute;
  left:675px;
  top:1120px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:801px;
  top:1120px;
  width:277px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:72px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:497px;
  top:1335px;
  width:286px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:904px;
  top:1607px;
  width:14px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:935px;
  top:1534px;
  width:29px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:902px;
  top:1534px;
  width:29px;
  height:24px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:287px;
  top:1396px;
  width:669px;
  height:36px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58 {
  position:absolute;
  left:446px;
  top:1379px;
}
#u58_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u58_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:167px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:167px;
}
#u60 {
  position:absolute;
  left:2px;
  top:76px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:300px;
  top:16px;
  width:43px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:894px;
  top:1530px;
  width:78px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:274px;
  top:1597px;
  width:708px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:32px;
}
#u64 {
  position:absolute;
  left:30px;
  top:30px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:286px;
  top:1599px;
  width:639px;
  height:28px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  position:absolute;
  left:497px;
  top:1668px;
  width:274px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:271px;
  top:1958px;
  width:708px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:305px;
  top:1969px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:506px;
  top:1969px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:657px;
  top:1969px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:891px;
  top:1969px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:274px;
  top:1655px;
  width:189px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:45px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:564px;
  top:1925px;
  width:123px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:34px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:1874px;
  width:1250px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:1233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1250px;
  height:1px;
}
#u83 {
  position:absolute;
  left:271px;
  top:1998px;
  width:708px;
  height:70px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:70px;
}
#u84 {
  position:absolute;
  left:2px;
  top:27px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:271px;
  top:2067px;
  width:708px;
  height:70px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:70px;
}
#u86 {
  position:absolute;
  left:2px;
  top:27px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:305px;
  top:2024px;
  width:165px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:503px;
  top:2024px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:657px;
  top:2024px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:891px;
  top:2024px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:305px;
  top:2083px;
  width:168px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:38px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:503px;
  top:2092px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:657px;
  top:2082px;
  width:196px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:891px;
  top:2092px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:271px;
  top:2136px;
  width:708px;
  height:70px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:70px;
}
#u104 {
  position:absolute;
  left:2px;
  top:27px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:305px;
  top:2152px;
  width:168px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:38px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:503px;
  top:2161px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:657px;
  top:2151px;
  width:196px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:891px;
  top:2161px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:271px;
  top:2213px;
  width:708px;
  height:70px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:70px;
}
#u114 {
  position:absolute;
  left:2px;
  top:27px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:590px;
  top:1725px;
  width:69px;
  height:69px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u116 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
