body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:709px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:709px;
}
#u1 {
  position:absolute;
  left:2px;
  top:346px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:335px;
  top:155px;
  width:540px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:875px;
  top:155px;
  width:151px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:576px;
  top:68px;
  width:213px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:46px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:54px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:344px;
  top:158px;
  width:480px;
  height:36px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:18px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:103px;
  top:252px;
  width:1147px;
  height:373px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1147px;
  height:373px;
}
#u10 {
  position:absolute;
  left:2px;
  top:178px;
  width:1143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1164px;
  top:396px;
  width:60px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:140px;
  top:396px;
  width:60px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:244px;
  top:300px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u17 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:48px;
  top:255px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:235px;
  top:0px;
  width:184px;
  height:252px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u21 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:296px;
  top:255px;
  width:51px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:472px;
  top:0px;
  width:184px;
  height:252px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u25 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:520px;
  top:255px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:707px;
  top:0px;
  width:184px;
  height:252px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u29 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:768px;
  top:255px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u33 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:48px;
  top:255px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:235px;
  top:0px;
  width:184px;
  height:252px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u37 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:296px;
  top:255px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:472px;
  top:0px;
  width:184px;
  height:252px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u41 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:506px;
  top:255px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:707px;
  top:0px;
  width:184px;
  height:252px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:252px;
}
#u45 {
  position:absolute;
  left:2px;
  top:118px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:768px;
  top:255px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:335px;
  top:194px;
}
#u48_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u48_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:326px;
}
#u49_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:560px;
  height:346px;
}
#u50 {
  position:absolute;
  left:2px;
  top:155px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:1px;
  width:540px;
  height:163px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:163px;
}
#u52 {
  position:absolute;
  left:2px;
  top:74px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:12px;
  top:9px;
  width:104px;
  height:141px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:141px;
}
#u54 {
  position:absolute;
  left:2px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:129px;
  top:83px;
  width:366px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:64px;
}
#u56 {
  position:absolute;
  left:0px;
  top:4px;
  width:366px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:129px;
  top:12px;
  width:95px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u58 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:129px;
  top:46px;
  width:192px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:4px;
  width:192px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:163px;
  width:540px;
  height:163px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:163px;
}
#u62 {
  position:absolute;
  left:2px;
  top:74px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:12px;
  top:173px;
  width:104px;
  height:141px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:141px;
}
#u64 {
  position:absolute;
  left:2px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:129px;
  top:247px;
  width:366px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:64px;
}
#u66 {
  position:absolute;
  left:0px;
  top:4px;
  width:366px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:129px;
  top:175px;
  width:95px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u68 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:129px;
  top:209px;
  width:222px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:28px;
}
#u70 {
  position:absolute;
  left:0px;
  top:4px;
  width:222px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:0px;
  top:163px;
  width:540px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:839px;
  top:164px;
  width:26px;
  height:23px;
  overflow:hidden;
  visibility:hidden;
}
#u73_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u73_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
